<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
    crossorigin="anonymous"
  />
</head>
<body>
    {% include('navbar/index.html') %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="w-full py-2 bg-green-600 text-center">
      {% for message in messages %}
        <li class="text-white">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    {% block content %}
    
    {% endblock %}
</body>
</html>